<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <title><%= feed.title %></title>
</head>
<body>
  <main>
    <h1><%= feed.title %></h1>
    <p>Description: <%= feed.description %></p>
    <p><a href="<%=  feed.url %>">Source</a></p>
    <p>Last modified: <%= feed.last_modified %></p>
    <p>Fetched: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>

    <h2>Entries</h2>
    <% feed.entries.each_with_index do |entry, index| %>
      <ul>
        <li>
          <article>
            <hgroup>
              <h3><a href="<%= entry.url || '#' %>"><%= entry.title || 'No title available' %></a></h3> 
              <p><strong>Author</strong>: <%= entry.author || 'No author available' %></p>
              <p><strong>Published</strong>: <%= entry.published || 'No date available' %></p>
            </hgroup>
            <details>
              <summary><%= entry.summary || 'No summary available' %></summary>
              <main>
                <%= entry.content || "No content available" %>
              </main>
            </details>
          </article>
        </li>
      </ul>
      <% print "." %>
    <% end %>

      
  </main>
</body>
</html>