<% if @feed %>
  <h2><%= @feed.title %></h2>
  <p><%= @feed.description || 'No description available' %></p>
  <p><strong>Feed:</strong> <a href="<%=  @url %>"><%= @url %></a></p>
  <p><strong>Last updated:</strong> <%= @feed.last_modified.strftime("%d %B %Y") %></p>

  <h3>Entries (<%= @feed.entries.count %>)</h3>
  <% @feed.entries.each_with_index do |entry, index| %>
    <ul style="padding-left: 0">
      <li style="display: block">
        <article>
          <hgroup>
            <h4><a href="<%= entry.url || '#' %>"><%= entry.title || 'No title available' %></a></h4>
            <p><strong>Author</strong>: <%= entry.author || 'No author available' %></p>
            <p><strong>Published</strong>: <%= entry.published.strftime("%d %B %Y") || 'No date available' %></p>
          </hgroup>
          <details>
            <summary><%= entry.summary || 'No summary available' %></summary>
            <main>
              <%= entry.content || "No content available" %>
            </main>
          </details>
        </article>
      </li>
    </ul>
    <% print "." %>
  <% end %>
<% else %>
  <h2 style="margin-bottom: 1rem">Error</h2>
  <p>We were unable to fetch data for <strong><%= @url %></strong>.</p>
  <p>Make sure your URL links to an RSS feed. If you searched for <code>https://example.com</code>, you might be missing the path to the feed, like <code>https://example.com/feed</code></p>
  <p>Note: Unfortunately, not all websites have an RSS feed.</p>
  <p><a href="/">Try another search</a></p>
<% end %>
